<!-- src/views/partials/header.njk -->
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blogs">Blogs</a></li>
        <li><a href="/blogs/new">New Blog</a></li>
    </ul>
</nav>